
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@-ms-viewport { 
  width: device-width; 
}

h1, h2, p {
  text-align: center;
}
.leaflet-container {
  height: 500px;
  width: 100%;
  margin: 0 auto;
}


.w10 {
  width: 10px;
}

.w30 {
  width: 30px;
}

.w40 {
  width: 40px;
}

.w55 {
  width: 55px;
}

.w70 {
  width: 70px;
}

.w90 {
  width: 90px;
}


